.page1{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 10%;
    border-radius: 2%;
}


.page2{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 5%;
    border-radius: 2%;

}

.page3{
    background-color: #E2E6EB;
    height: 350px;
    margin-top: 10%;
    border-radius: 2%;

}

.item2-page3{
    background-color: #E2E6EB;
    height: 150px;
    margin-top: 10%;
    border-radius: 3%;

}


.page4{
    background-color: #E2E6EB;
    height: 250px;
    margin: 10%;
    border-radius: 3%;

}