.page1{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 10%;
    border-radius: 2%;
}


.page2{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 5%;
    border-radius: 2%;

}

.page3{
    background-color: #E2E6EB;
    height: 350px;
    margin-top: 10%;
    border-radius: 2%;

}

.item2-page3{
    background-color: #E2E6EB;
    height: 150px;
    margin-top: 10%;
    border-radius: 3%;

}


.page4{
    background-color: #E2E6EB;
    height: 250px;
    margin: 10%;
    border-radius: 3%;

}

.page5{
    background-color: #E2E6EB;
    height: 350px;
    margin-top: 5%;
    border-radius: 2%;
}

.page6{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 15%;
    border-radius: 2%;
}

.page7{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 50px;
    border-radius: 2%;
}

.page8-itm1{

    background-color: #E2E6EB;
    height: 150px; 
}

.page8-itm2{

    background-color: #E2E6EB;
    height: 450px;

}

.itm1{
    background-color: #E2E6EB;
    margin-top: 300px;
    height: 150px;
}

 #row8{
     margin-top: -150px;
 }

 #conP8{
     margin-top: 4%;
 }


 .page9{

    background-color: #E2E6EB;
    height: 200px;
    margin-top: 15%;
    border-radius: 2%;
 }

 .page10{
    background-color: #E2E6EB;
    height: 200px;
    margin-top: 5%;
    border-radius: 10px;
}

.page11{
    background-color: #E2E6EB;
    height: 700px;
    margin-top: 20%;
    border-radius: 10px;
}

.page12{
    background-color: #E2E6EB;
    height: 750px;
    margin-top: 50px;
    border-radius: 2%;
}

.page13{
    background-color: #E2E6EB;
    height: 150px;
    margin-top: 20%;
    border-radius: 10px;
}